<div>
		<pre><a routerLink="/home/account" ><button type="button" class="btn  btn-dark text-white btn-lg">ACCOUNT MANAGEMENT</button></a>   <a routerLink="/home/transactions"><button type="button" class="btn btn-dark text-white btn-lg">TRANSACTIONS</button></a>    <a routerLink="/home/passbook" ><button type="button" class="btn btn-dark text-white btn-lg">PASSBOOK MAINTENANCE</button></a>     <a routerLink="/home/loans" ><button type="button" class="btn btn-dark text-white btn-lg">LOANS</button></a>     <a routerLink="/home/fixeddeposits" ><button type="button" class="btn btn-dark text-white btn-lg">FIXED DEPOSITS</button></a></pre>
</div>
<div class="container my-3">
	<pre>
	<router-outlet></router-outlet>
	</pre>
</div>